<template>
  <div>
    <v-progress-linear
      v-if="loading"
      :indeterminate="loading" />
    <span
      class="title"
      v-html="title" />
    <canvas
      v-if="!loading"
      ref="ctx"
      width="100%" />
  </div>
</template>

<script>
import Chart from 'chart.js';
import http from '../../../services/http';

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    loading: false,
    errors: [],
    allowances: [],
    chart: null,
  }),

  computed: {
    chartData() {
      const allowances = this.allowances.filter(allowance => allowance.employees.length > 0);
      const labels = allowances.map(allowance => allowance.id);
      const data = allowances.map(allowance => allowance.employees.length);
      const backgroundColor = allowances.map(() => {
        const r = Math.floor(Math.random() * 255);
        const g = Math.floor(Math.random() * 255);
        const b = Math.floor(Math.random() * 255);

        return `rgb(${r}, ${g}, ${b})`;
      });

      return {
        labels,
        datasets: [
          {
            label: this.title,
            data,
            backgroundColor,
          },
        ],
      };
    },
  },

  methods: {
    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            this.allowances = res.data;
            this.loading = false;
            resolve();
          }
        };

        const errorCallback = () => {
          reject();
        };

        this.errors = [];
        this.loading = true;
        http.get('stats/allowances', successCallback, errorCallback);
      });
    },

    initChart() {
      Chart.defaults.global.legend.display = false;

      const ctx = this.$refs.ctx.getContext('2d');

      this.chart = new Chart(ctx, {
        type: 'bar',
        data: this.chartData,
      });
    },
  },

  mounted() {
    this.fetchDataHandler()
      .then(() => {
        this.initChart();
      })
      .catch(() => {
        this.errors.push('Gagal menyusun data statistik');
      });
  },
};
</script>

<style>
.title {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}
</style>

