<template>
  <v-flex
    md4
    offset-md4
  >
    <v-card>
      <v-card-title
        primary-title
        class="green darken-2"
      >
        <div class="login-title">
          <h3 class="headline mb-0 white--text">Synchrome</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <span
          v-if="wrongCredentials"
          class="red--text"
        >
          Email/kata sandi salah
        </span>
        <form
          @submit="authenticationHandler"
          role="form"
        >
          <v-text-field
            ref="email"
            v-model="email"
            label="Email"
            required
            :error-messages="emailErrors"
            @input="$v.email.$touch"
            @blur="$v.email.$touch" />
          <v-text-field
            type="password"
            v-model="password"
            label="Kata sandi"
            required
            :error-messages="passwordErrors"
            @input="$v.password.$touch"
            @blur="$v.password.$touch" />
          <v-btn
            type="submit"
            :disabled="$v.$invalid"
            color="primary"
          >
            Masuk
          </v-btn>
        </form>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import http from '../services/http';
import auth from '../services/auth';
import validator from '../validators/login';

export default {
  data: () => ({
    email: '',
    password: '',
    wrongCredentials: false,
  }),

  computed: {
    emailErrors() {
      const errors = [];

      if (!this.$v.email.$dirty) return errors;
      if (!this.$v.email.required) errors.push('Email tidak boleh kosong');

      return errors;
    },

    passwordErrors() {
      const errors = [];

      if (!this.$v.password.$dirty) return errors;
      if (!this.$v.password.required) errors.push('Kata sandi tidak boleh kosong');

      return errors;
    },
  },

  validations: validator,

  methods: {
    authenticationHandler(e) {
      e.preventDefault();

      if (!this.$v.$invalid) {
        const payload = {
          email: this.email,
          password: this.password,
        };

        const successCallback = (res) => {
          if (res.status === 200) {
            auth.init(res.data);
            http.setToken(auth.token);
            this.$router.push({ name: 'dashboard' });
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);

          if (errData.data === 'wrong_credentials') {
            this.wrongCredentials = true;
            this.$refs.email.focus();
            this.email = '';
            this.password = '';
            this.$v.$reset();
          }
        };

        http.post('/login', payload, successCallback, errorCallback);
      }
    },
  },
};
</script>
