<template>
  <v-navigation-drawer
    v-if="display"
    app
    fixed
    clipped
    dark
    :value="active"
    class="nav"
  >
    <v-list>
      <v-list-tile
        v-for="menu in menus"
        :key="menu.icon"
        router
        exact
        :to="menu.to"
      >
        <v-list-tile-action>
          <v-icon
            class="grey--text"
            v-html="menu.icon" />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title
            class="grey--text"
            v-html="menu.text" />
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    display: {
      type: Boolean,
      default: true,
    },
    active: {
      type: Boolean,
      required: true,
    },
  },

  data: () => ({
    menus: [
      { to: { name: 'dashboard' }, icon: 'dashboard', text: 'Dasbor' },
      { to: { name: 'calendars.index' }, icon: 'date_range', text: 'Kalender' },
      { to: { name: 'additional_events.index' }, icon: 'date_range', text: 'Event' },
      { to: { name: 'employees.index' }, icon: 'people', text: 'Pegawai' },
      { to: { name: 'reports.index' }, icon: 'assessment', text: 'Laporan' },
      { to: { name: 'users.index' }, icon: 'people', text: 'Pengguna' },
    ],
  }),
};
</script>

<style>
.nav {
  background: rgb(34, 45, 50) !important;
}
</style>
