<template>
  <v-toolbar
    v-if="display"
    app
    fixed
    dark
    clipped-left
    class="toolbar"
  >
    <v-toolbar-side-icon @click.native.stop="toggleDrawer" />
    <v-toolbar-title>Synchrome</v-toolbar-title>
    <v-spacer />
    <v-menu
      open-on-hover
      bottom
      offset-y
    >
      <v-btn
        icon
        slot="activator"
      >
        <v-icon>person</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile
          @click="profileEditHandler"
        >
          <v-list-tile-action>
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Profil</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click="logoutHandler"
        >
          <v-list-tile-action>
            <v-icon>lock</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Keluar</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    display: {
      type: Boolean,
      default: true,
    },
  },

  methods: {
    ...mapActions({
      logout: 'auth/logout',
    }),

    toggleDrawer() {
      this.$emit('input', !this.value);
    },

    profileEditHandler() {
      this.$router.push({ name: 'profile' });
    },

    logoutHandler() {
      this.logout();
      this.$router.push({ name: 'login' });
    },
  },
};
</script>

<style>
.toolbar {
  background: rgb(0, 166, 90) !important;
}
</style>
