<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md6
      offset-md3
    >
      <v-card>
        <v-card-title
          class="green darken-1 white--text headline"
        >
          Profil
        </v-card-title>
        <v-card-text>
          <form
            @submit="submitHandler"
            role="form"
          >
            <v-text-field
              label="Email *"
              v-model="email"
              :error-messages="emailErrors"
              @input="$v.email.$touch"
              @blur="$v.email.$touch" />
            <v-text-field
              label="Nama *"
              v-model="name"
              :error-messages="nameErrors"
              @input="$v.name.$touch"
              @blur="$v.name.$touch" />
            <v-text-field
              type="password"
              label="Kata Sandi"
              v-model="password"
              @input="$v.password_conf.$touch"
              @blur="$v.password_conf.$touch" />
            <v-text-field
              type="password"
              label="Konfirmasi Kata Sandi"
              v-model="password_conf"
              :error-messages="passwordConfErrors"
              @input="$v.password_conf.$touch"
              @blur="$v.password_conf.$touch" />
            <v-btn
              :disabled="$v.$invalid"
              type="submit"
              class="primary"
              dark
            >
              Simpan
            </v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/profile';

export default {
  data: () => ({
    name: '',
    email: '',
    password: '',
    password_conf: '',
  }),

  computed: {
    emailErrors() {
      const errors = [];

      if (!this.$v.email.$dirty) return errors;
      if (!this.$v.email.required) errors.push('Email tidak boleh kosong');

      return errors;
    },

    nameErrors() {
      const errors = [];

      if (!this.$v.name.$dirty) return errors;
      if (!this.$v.name.required) errors.push('Nama tidak boleh kosong');

      return errors;
    },

    passwordConfErrors() {
      const errors = [];

      if (!this.$v.password_conf.$dirty) return errors;
      if (!this.$v.password_conf.required) errors.push('Konfirmasi kata sandi kembali');
      if (!this.$v.password_conf.sameAsPassword && this.$v.password_conf.required) errors.push('Kata sandi tidak cocok');

      return errors;
    },
  },

  validations: validator,

  methods: {
    ...mapActions({
      updateProfile: 'auth/updateProfile',
      logout: 'auth/logout',
    }),

    submitHandler(e) {
      e.preventDefault();

      if (!this.$v.$invalid) {
        let payload;

        if (this.password !== '') {
          payload = {
            email: this.email,
            name: this.name,
            password: this.password,
            password_conf: this.password_conf,
            role_id: this.$store.getters['auth/userRole'].id,
          };
        } else {
          payload = {
            email: this.email,
            name: this.name,
            role_id: this.$store.getters['auth/userRole'].id,
          };
        }

        this.updateProfile(payload)
          .then(() => {
            this.logout();
            this.$router.push({ name: 'login' });
          });
      }
    },
  },

  mounted() {
    this.email = this.$store.getters['auth/userEmail'];
    this.name = this.$store.getters['auth/userName'];
  },
};
</script>
