<template>
  <div class="file-input">
    <input
      :disabled="disabled"
      type="file"
      @change="changeHandler"
    >
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    async changeHandler(e) {
      const data = Array.from(e.target.files);
      const content = await this.getBase64(data[0]);

      this.$emit('input', content);
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();

        reader.readAsDataURL(file);

        reader.onload = () => {
          resolve(reader.result);
        };

        reader.onerror = (err) => {
          reject(err);
        };
      });
    },
  },
};
</script>

<style>
.file-input {
  margin-bottom: 25px;
}
</style>

