<template>
  <v-layout
    row
    wrap
  >
    <v-progress-linear
      v-if="loading"
      :indeterminate="loading" />
    <v-flex
      md12
    >
      <additional-event-form
        v-if="!loading"
        :edit="true"
        v-model="additionalEvent"
        :event-categories="eventCategories"
        :absence-types="absenceTypes"
        :employees="employees"
        :on-submit="submitHandler" />
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { waterfall } from 'async';
import moment from 'moment';
import http from '../../services/http';
import AdditionalEventForm from './AdditionalEventForm';

export default {
  components: {
    AdditionalEventForm,
  },

  data: () => ({
    loading: true,
    eventCategories: [],
    additionalEvent: {
      id: null,
      title: '',
      start: null,
      end: null,
      event_category_id: null,
      employees: [],
    },
  }),

  computed: {
    ...mapState({
      employees: state => state.employee.data,
    }),

    sanitizedAbsenceTypes() {
      const data = [];

      this.absenceTypes
        .forEach((item) => {
          data.push(item);

          if (item.children.length > 0) {
            item.children
              .forEach((subItem) => {
                subItem.name = `---${subItem.name}`;
                data.push(subItem);
              });
          }
        });

      return data;
    },
  },

  methods: {
    ...mapActions({
      fetchEmployees: 'employee/fetchAll',
      fetchAdditionalEvent: 'additionalEvent/fetch',
      updateAdditionalEvent: 'additionalEvent/update',
    }),

    fetchEventCategories() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            resolve(res.data);
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.get('event-categories', successCallback, errorCallback);
      });
    },

    dataFetchHandler() {
      const series = [
        (callback) => {
          this.fetchEventCategories()
            .then((eventCategories) => {
              this.eventCategories = eventCategories;
              callback(null);
            })
            .catch((err) => {
              callback(err);
            });
        },

        (callback) => {
          const successCallback = (res) => {
            if (res.status === 200) {
              this.absenceTypes = res.data;
              callback(null);
            }
          };

          const errorCallback = (err) => {
            const errData = err.response;
            callback(errData);
          };

          http.get('absence-types', successCallback, errorCallback);
        },


        (callback) => {
          this.fetchEmployees()
            .then(() => {
              callback(null);
            })
            .catch((err) => {
              callback(err);
            });
        },

        (callback) => {
          this.fetchAdditionalEvent(this.$route.params.id)
            .then((additionalEvent) => {
              this.additionalEvent = additionalEvent;
              this.additionalEvent.start = moment(this.additionalEvent.start).format('YYYY-MM-DD');
              this.additionalEvent.end = this.additionalEvent.end === null ? null : moment(this.additionalEvent.end).format('YYYY-MM-DD');
              this.additionalEvent.event_category_id = this.additionalEvent.category.id;
              callback(null);
            })
            .catch((err) => {
              callback(err);
            });
        },
      ];

      const handler = (err) => {
        if (!err) this.loading = false;
      };

      this.loading = true;
      waterfall(series, handler);
    },

    sanitizePayload(payload) {
      const sanitizedPayload = Object.assign({}, payload);

      sanitizedPayload.employees = sanitizedPayload.employees.map(employee => employee.id);

      if (typeof sanitizedPayload.permit !== 'string') {
        sanitizedPayload.permit = sanitizedPayload.permit.path;
      } else {
        delete sanitizedPayload.permit;
      }

      if (sanitizedPayload.end === null || sanitizedPayload.end === sanitizedPayload.start) {
        delete sanitizedPayload.end;
      }

      return sanitizedPayload;
    },

    submitHandler() {
      this.updateAdditionalEvent(this.sanitizePayload(this.additionalEvent))
        .then(() => {
          this.$router.push({ name: 'additional_events.index' });
        });
    },
  },

  mounted() {
    this.dataFetchHandler();
  },
};
</script>
