<template>
  <v-card>
    <v-card-title
      class="green darken-1 white--text headline"
    >
      {{ edit ? `Edit Event: ${form.title}` : 'Tambah Event' }}
    </v-card-title>
    <v-card-text>
      <form
        @submit="submitHandler"
        role="form"
        enctype="multipart/form-data"
      >
        <v-layout
          row
          wrap
        >
          <v-flex
            md4
            pa-3
          >
            <v-text-field
              label="Judul Event"
              v-model="form.title"
              :error-messages="titleErrors"
              @input="$v.form.title.$touch" />
            <v-menu
              lazy
              v-model="startDateActive"
              full-width
              max-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Tanggal Mulai"
                v-model="form.start"
                readonly />
              <v-date-picker
                no-title
                scrollable
                actions
                v-model="form.start">
                <template
                  slot-scope="{ save, cancel }"
                >
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      @click="cancel"
                      flat
                      color="primary"
                    >
                      Batal
                    </v-btn>
                    <v-btn
                      @click="save"
                      flat
                      color="primary"
                    >
                      Simpan
                    </v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-menu>
            <v-menu
              lazy
              v-model="endDateActive"
              full-width
              max-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Tanggal Selesai"
                v-model="form.end"
                readonly />
              <v-date-picker
                no-title
                scrollable
                actions
                v-model="form.end">
                <template
                  slot-scope="{ save, cancel }"
                >
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      flat
                      color="primary"
                      @click="cancel"
                    >
                      Batal
                    </v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="save"
                    >
                      Simpan
                    </v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-menu>
            <v-select
              label="Kategori"
              v-model="form.event_category_id"
              :items="eventCategories"
              item-text="name"
              item-value="id" />
            <v-select
              :disabled="absenceTypeDisabled"
              label="Jenis Absensi"
              v-model="form.absence_type_id"
              :items="absenceTypes"
              item-text="name"
              item-value="id" />
            <file-input
              v-if="!permitHidden"
              v-model="form.permit" />
            <v-btn
              v-if="permitHidden"
              @click="form.permit = null"
            >
              Perbarui Surat
            </v-btn>
            <v-btn
              :disabled="$v.$invalid"
              type="submit"
              color="primary"
            >
              Simpan
            </v-btn>
          </v-flex>
          <v-flex
            md8
            pa-3
          >
            <v-layout
              row
              wrap
              align-start
            >
              <v-flex
                sm6
                pr-2
              >
                <v-select
                  label="Pegawai"
                  v-model="selectedEmployee"
                  :items="employees"
                  item-text="name" />
              </v-flex>
              <v-flex
                sm2
                pl-1
              >
                <v-btn
                  @click="addEmployee(selectedEmployee)"
                  block
                  color="primary"
                >
                  Tambahkan
                </v-btn>
              </v-flex>
              <v-flex
                sm12
                pt-2
                fill-height
              >
                <v-data-table
                  :headers="tableHeaders"
                  :items="form.employees"
                >
                  <template
                    slot="items"
                    slot-scope="props"
                  >
                    <td v-html="props.item.id" />
                    <td v-html="props.item.name" />
                    <td class="text-xs-right">
                      <v-btn
                        @click="removeEmployee(props.item.id)"
                        small
                        color="red"
                        class="white--text"
                      >
                        Hapus
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
import validator from '../../validators/additionalEvent';
import FileInput from '../Helper/FileInput';

export default {
  components: {
    FileInput,
  },

  props: {
    value: {
      type: Object,
      required: true,
    },
    edit: {
      type: Boolean,
      default: false,
    },
    eventCategories: {
      type: Array,
      required: true,
    },
    absenceTypes: {
      type: Array,
      required: true,
    },
    employees: {
      type: Array,
      required: true,
    },
    onSubmit: {
      type: Function,
      required: true,
    },
  },

  data: () => ({
    startDateActive: false,
    endDateActive: false,
    form: {
      id: null,
      title: '',
      start: null,
      end: null,
      event_category_id: null,
      employees: [],
      absence_type_id: null,
      permit: '',
    },
    selectedEmployee: null,
    tableHeaders: [
      { text: 'NIP', align: 'left', value: 'id' },
      { text: 'Nama', align: 'left', value: 'name' },
    ],
  }),

  computed: {
    titleErrors() {
      const errors = [];

      if (!this.$v.form.title.$dirty) return errors;
      if (!this.$v.form.title.required) errors.push('Judul tidak boleh kosong');

      return errors;
    },

    absenceTypeDisabled() {
      return this.form.event_category_id !== 1;
    },

    permitDisabled() {
      return this.form.absence_type_id !== 'C' && this.form.absence_type_id !== 'I';
    },

    selectedAbsenceType() {
      const data = this.absenceTypes
        .filter(item => item.id === this.form.absence_type_id);

      if (typeof data[0] === 'undefined') return { file_required: false };

      return data[0];
    },

    permitHidden() {
      return !this.selectedAbsenceType.file_required;
    },
  },

  watch: {
    form(val) {
      this.$emit('input', val);
    },
  },

  validations: {
    form: validator,
  },

  methods: {
    mapValue() {
      this.form = Object.assign({}, this.value);
    },

    addEmployee(employee) {
      const employeeIds = this.form.employees.map(employee => employee.id);
      if (employeeIds.includes(employee.id)) return;

      this.form.employees.push(employee);
      this.selectedEmployee = null;
    },

    removeEmployee(employeeId) {
      this.form.employees = this.form.employees
        .filter(employee => employee.id !== employeeId);
    },

    submitHandler(e) {
      e.preventDefault();
      this.onSubmit(e);
    },
  },

  mounted() {
    this.mapValue();
  },
};
</script>

<style>
.employee-title {
  font-size: 28px;
}
</style>
