<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Event</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-card
        v-if="!loading"
      >
        <v-card-title>
          <v-btn
            @click="$router.push({ name: 'additional_events.create' })"
            small
            color="primary"
          >
            Tambah Event
          </v-btn>
          <v-spacer />
          <v-text-field
            append-icon="search"
            label="Pencarian"
            single-line
            hide-details
            v-model="query" />
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="normalizedAdditionalEvents"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.title" />
            <td v-html="props.item.date" />
            <td v-html="props.item.category" />
            <td class="text-xs-right">
              <v-btn
                @click="$router.push({
                  name: 'additional_events.edit',
                  params: { id: props.item.id }
                })"
                small
                color="primary"
              >
                Edit
              </v-btn>
              <v-btn
                @click="destroyAdditionalEventHandler(props.item.id)"
                small
                color="red"
                class="white--text"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';

export default {
  data: () => ({
    loading: true,
    query: '',
    tableHeaders: [
      { text: 'Event', align: 'left', value: 'name' },
      { text: 'Tanggal', align: 'left', value: 'date' },
      { text: 'Kategori', align: 'left', value: 'category' },
    ],
  }),

  computed: {
    ...mapState({
      additional_events: state => state.additionalEvent.data,
    }),

    normalizedAdditionalEvents() {
      return this.additional_events.map(event => ({
        id: event.id,
        title: event.title,
        date: moment(event.start).format('D MMMM YYYY') + (event.end !== null ? ` - ${moment(event.end).format('D MMMM YYYY')}` : ''),
        category: event.category.name,
      }));
    },
  },

  methods: {
    ...mapActions({
      fetchAdditionalEvents: 'additionalEvent/fetchAll',
      destroyAdditionalEvent: 'additionalEvent/destroy',
    }),

    fetchAdditionalEventsHandler() {
      this.loading = true;
      this.fetchAdditionalEvents()
        .then(() => {
          this.loading = false;
        });
    },

    destroyAdditionalEventHandler(id) {
      this.destroyAdditionalEvent(id)
        .then(() => {
          this.fetchAdditionalEventsHandler();
        });
    },
  },

  mounted() {
    this.fetchAdditionalEventsHandler();
  },
};
</script>
