<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Pegawai</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-card
        v-if="!loading"
      >
        <v-card-title>
          <v-spacer />
          <v-text-field
            append-icon="search"
            label="Pencarian"
            single-line
            hide-details
            v-model="query" />
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="employees"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.id" />
            <td v-html="props.item.name" />
            <td class="text-xs-right">
              <v-btn
                @click="$router.push({ name: 'employees.detail', params: { id: props.item.id } })"
                small
                color="primary"
              >
                Detail
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data: () => ({
    loading: true,
    query: '',
    tableHeaders: [
      { text: 'NIP', align: 'left', value: 'id' },
      { text: 'Nama', align: 'left', value: 'name' },
    ],
  }),

  computed: {
    ...mapState({
      employees: state => state.employee.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchEmployees: 'employee/fetchAll',
    }),

    fetchEmployeesHandler() {
      this.loading = true;
      this.fetchEmployees()
        .then(() => {
          this.loading = false;
        });
    },
  },

  mounted() {
    this.fetchEmployeesHandler();
  },
};
</script>
