<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md8
      pr-2
    >
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-card>
        <v-card-title
          class="green darken-1 white--text headline"
        >
          Detil Pegawai: {{ employee.name }}
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="NIP"
            v-model="employee.id"
            readonly />
          <v-text-field
            label="Nama"
            v-model="employee.name"
            readonly />
          <v-text-field
            label="Agama"
            v-model="employee.religion.name"
            readonly />
          <v-text-field
            label="No. Telpon/HP"
            v-model="employee.phone"
            readonly />
          <v-text-field
            label="Alamat"
            v-model="employee.address"
            readonly />
          <v-text-field
            label="Kategori Tunjangan"
            v-model="employee.allowance.name"
            readonly />
          <v-text-field
            label="Jumlah Template Sidik Jari"
            :value="employee.templates.length"
            readonly />
          <v-layout
            row
          >
            <v-flex
              xs6
              class="pr-2"
            >
              <v-text-field
                label="Instansi"
                v-model="employee.agency.name"
                readonly />
              <v-text-field
                label="Kalender Kerja"
                v-model="employee.calendar.name"
                readonly />
            </v-flex>
            <v-flex
              xs6
              class="pl-2"
            >
              <v-text-field
                v-if="employee.echelon !== null"
                label="Jabatan"
                v-model="employee.echelon.name"
                readonly />
              <v-text-field
                label="Shift Kerja"
                v-model="employee.workshift.name"
                readonly />
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex
      md4
      pl-2
    >
      <v-alert
        color="success"
        icon="check_circle"
        v-model="templateSyncSuccess"
        transition="scale-transition"
        dismissible
      >
        Sinkronisasi template sidik jari berhasil.
      </v-alert>
      <v-card>
        <v-card-title
          class="green darken-1 white--text headline"
        >
          Sinkronisasi Template Sidik Jari
        </v-card-title>
        <v-card-text>
          <form
            @submit="submitHandler"
            role="form"
          >
            <v-text-field
              label="ID"
              v-model="dummy_employee_id"
              :error-messages="templateSyncErrors" />
            <v-btn
              type="submit"
              color="primary"
            >
              Sinkronkan
            </v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import http from '../../services/http';

export default {
  data: () => ({
    loading: true,
    employee: {
      id: null,
      name: '',
      religion: {
        name: '',
      },
      allowance: {
        name: '',
      },
      agency: {
        name: '',
      },
      echelon: {
        name: '',
      },
      calendar: {
        name: '',
      },
      workshift: {
        name: '',
      },
      templates: [],
    },
    dummy_employee_id: null,
    templateSyncSuccess: false,
    templateSyncErrors: [],
  }),

  methods: {
    ...mapActions({
      fetchEmployee: 'employee/fetch',
    }),

    fetchEmployeeHandler() {
      this.loading = true;
      this.fetchEmployee(this.$route.params.id)
        .then((employee) => {
          this.employee = employee;
          this.loading = false;
        });
    },

    syncTemplates() {
      return new Promise((resolve, reject) => {
        const payload = { dummy_employee_id: this.dummy_employee_id };

        const successCallback = (res) => {
          if (res.status === 200) {
            resolve();
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.post(`employees/${this.employee.id}/sync-templates`, payload, successCallback, errorCallback);
      });
    },

    submitHandler(e) {
      e.preventDefault();

      this.templateSyncSuccess = false;
      this.templateSyncErrors = [];
      this.syncTemplates()
        .then(() => {
          this.templateSyncSuccess = true;
          this.dummy_employee_id = null;
          this.fetchEmployeeHandler();
        })
        .catch((err) => {
          if (err.status === 404 && err.data === 'dummy_employee_not_found') this.templateSyncErrors.push(`Data dengan ID ${this.dummy_employee_id} tidak ditemukan`);
        });
    },
  },

  mounted() {
    this.fetchEmployeeHandler();
  },
};
</script>
