<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Kalender</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-card
        v-if="!loading"
      >
        <v-card-title>
          <v-select
            label="Kalender"
            placeholder="Pilih Kalender"
            v-model="calendarId"
            :items="calendars"
            item-text="name" />
        </v-card-title>
        <full-calendar
          v-if="!loading && calendar.id !== null"
          :calendar="calendar"
          :additional-events="additionalEvents" />
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { waterfall } from 'async';
import http from '../../services/http';
import FullCalendar from './FullCalendar';

export default {
  components: {
    FullCalendar,
  },

  data: () => ({
    loading: true,
    calendars: [],
    calendarId: null,
    calendar: {
      id: null,
      title: '',
      events: [],
    },
  }),

  computed: {
    ...mapState({
      additionalEvents: state => state.additionalEvent.data,
    }),
  },

  watch: {
    calendarId(val) {
      this.calendar = val;
    },
  },

  methods: {
    ...mapActions({
      fetchAdditionalEvents: 'additionalEvent/fetchAll',
    }),

    fetchCalendars() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            resolve(res.data);
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.get('calendars', successCallback, errorCallback);
      });
    },

    dataFetchHandler() {
      const series = [
        (callback) => {
          this.fetchCalendars()
            .then((calendars) => {
              this.calendars = calendars;
              callback(null);
            })
            .catch((err) => {
              callback(err);
            });
        },

        (callback) => {
          this.fetchAdditionalEvents()
            .then(() => {
              callback(null);
            })
            .catch((err) => {
              callback(err);
            });
        },
      ];

      const handler = (err) => {
        if (!err) this.loading = false;
      };

      this.loading = true;
      waterfall(series, handler);
    },
  },

  mounted() {
    this.dataFetchHandler();
  },
};
</script>
