<template>
  <div
    ref='calendar'
    class='pa-3' />
</template>

<script>
import $ from 'jquery';
import moment from 'moment';
import 'fullcalendar/dist/fullcalendar';

export default {
  props: {
    calendar: {
      type: Object,
      required: true,
    },
    additionalEvents: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    eventSource() {
      return [
        ...this.calendar.events,
        ...this.additionalEvents,
      ];
    },
  },

  methods: {
    init() {
      $(this.$refs.calendar).fullCalendar({
        defaultDate: moment().startOf('year'),
      });
      $(this.$refs.calendar).fullCalendar('removeEventSources');
      $(this.$refs.calendar).fullCalendar(
        'addEventSource',
        this.eventSource,
      );
    },
  },

  mounted() {
    this.init();
  },

  destroyed() {
    $(this.$refs.calendar).fullCalendar('destroy');
  },
};
</script>

<style>
@import '~fullcalendar/dist/fullcalendar.css';

.fc-left h2 {
  font-size: 32px;
}

.fc-content {
  color: #fff;
}
</style>

