<template>
  <v-data-table
    :headers="tableHeaders"
    :items="value"
  >
    <template
      slot="items"
      slot-scope="props"
    >
      <td v-html="props.item.id" />
      <td v-html="props.item.name" />
      <td v-html="props.item.allowance.name" />
      <td
        class="text-xs-center"
        v-html="props.item.allowance.value.allowance" />
      <td
        class="text-xs-center"
        v-html="props.item.allowance.value.deduction" />
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    tableHeaders: [
      { text: 'NIP', value: 'id', align: 'left', sortable: true },
      { text: 'Nama', value: 'name', align: 'left', sortable: true },
      { text: 'Golongan', value: 'allowance.name', align: 'left', sortable: false },
      { text: 'TPP Pokok', value: 'allowance.value.allowance', align: 'center', sortable: true },
      { text: 'Potongan', value: 'allowance.value.deduction', align: 'center', sortable: true },
    ],
  }),
};
</script>
