<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Laporan</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-alert
        mb-4
        color="success"
        icon="check_circle"
        :value="!loading && exportSuccess"
      >
        {{ exportMessage }}
      </v-alert>
      <v-card>
        <v-card-text>
          <form
            role="form"
            @submit="renderReport"
          >
            <v-layout
              row
              wrap
            >
              <v-flex
                sm2
                pr-2
              >
                <v-select
                  label="Jenis Laporan"
                  v-model="form.selectedReportCategory"
                  :items="reportCategories"
                  item-text="text" />
              </v-flex>
              <v-flex
                sm4
                pl-2
                pr-2
              >
                <v-select
                  :disabled="disableEmployeeDropdown"
                  label="Pegawai"
                  v-model="form.selectedEmployee"
                  :items="employees"
                  item-text="name" />
              </v-flex>
              <v-flex
                sm2
                pl-2
                pr-2
              >
                <v-menu
                  lazy
                  full-width
                >
                  <v-text-field
                    slot="activator"
                    label="Mulai"
                    v-model="form.start"
                    readonly />
                  <v-date-picker
                    no-title
                    scrollable
                    actions
                    v-model="form.start"
                  >
                    <template
                      slot-scope="{ save, cancel }"
                    >
                      <v-card-actions>
                        <v-spacer />
                        <v-btn
                          @click="cancel"
                          flat
                          color="primary"
                        >
                          Batal
                        </v-btn>
                        <v-btn
                          @click="save"
                          flat
                          color="primary"
                        >
                          Simpan
                        </v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex
                sm2
                pl-2
                pr-2
              >
                <v-menu
                  lazy
                  full-width
                >
                  <v-text-field
                    slot="activator"
                    label="Selesai"
                    v-model="form.end"
                    readonly />
                  <v-date-picker
                    no-title
                    scrollable
                    actions
                    v-model="form.end"
                  >
                    <template
                      slot-scope="{ save, cancel }"
                    >
                      <v-card-actions>
                        <v-spacer />
                        <v-btn
                          @click="cancel"
                          flat
                          color="primary"
                        >
                          Batal
                        </v-btn>
                        <v-btn
                          @click="save"
                          flat
                          color="primary"
                        >
                          Simpan
                        </v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex
                sm2
                pl-2
              >
                <v-btn
                  :disabled="$v.$invalid"
                  type="submit"
                  color="primary"
                  large
                  block
                >
                  Tampilkan
                </v-btn>
              </v-flex>
            </v-layout>
          </form>
        </v-card-text>
        <div
          v-if="isScanLogReport || isAllowanceReport || isMealAllowanceReport"
          class="pt-2 pb-2 text-xs-center"
        >
          <v-btn
            @click="exportPdf"
            :disabled="$v.$invalid"
            color="primary"
          >
            Ekspor ke PDF
          </v-btn>
        </div>
        <scan-log-report
          v-if="isScanLogReport"
          :value="scanLogReportData" />
        <allowance-report
          v-if="isAllowanceReport"
          :value="allowanceReportData" />
        <meal-allowance-report
          v-if="isMealAllowanceReport"
          :value="mealAllowanceReportData" />
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import fs from 'fs';
import { mapState, mapActions } from 'vuex';
import http from '../../services/http';
import validator from '../../validators/report';
import ScanLogReport from './ScanLogReport';
import AllowanceReport from './AllowanceReport';
import MealAllowanceReport from './MealAllowanceReport';

export default {
  components: {
    ScanLogReport,
    AllowanceReport,
    MealAllowanceReport,
  },

  data: () => ({
    loading: false,
    reportCategories: [
      { id: 'scan_log', text: 'Kehadiran' },
      { id: 'allowance', text: 'TPP' },
      { id: 'meal_allowance', text: 'Uang Makan' },
    ],
    form: {
      selectedReportCategory: null,
      selectedEmployee: { id: null },
      start: null,
      end: null,
    },
    reportData: [],
    exportSuccess: false,
    exportMessage: '',
  }),

  validations: {
    form: validator,
  },

  computed: {
    ...mapState({
      employees: state => state.employee.data,
    }),

    isScanLogReport() {
      return this.form.selectedReportCategory !== null &&
        this.form.selectedReportCategory.id === 'scan_log' &&
        !this.loading;
    },

    isAllowanceReport() {
      return this.form.selectedReportCategory !== null &&
        this.form.selectedReportCategory.id === 'allowance' &&
        !this.loading;
    },

    isMealAllowanceReport() {
      return this.form.selectedReportCategory !== null &&
        this.form.selectedReportCategory.id === 'meal_allowance' &&
        !this.loading;
    },

    scanLogReportData() {
      if (this.form.selectedReportCategory === null || this.form.selectedReportCategory.id !== 'scan_log' || this.reportData === null) return [];

      return Object.keys(this.reportData).map(key => this.reportData[key]);
    },

    allowanceReportData() {
      if (this.form.selectedReportCategory === null || this.form.selectedReportCategory.id !== 'allowance' || this.reportData === null) return [];

      return this.reportData;
    },

    mealAllowanceReportData() {
      if (this.form.selectedReportCategory === null || this.form.selectedReportCategory.id !== 'meal_allowance' || this.reportData === null) return [];

      return this.reportData;
    },

    disableEmployeeDropdown() {
      return this.form.selectedReportCategory === null || this.form.selectedReportCategory.id !== 'scan_log';
    },
  },

  methods: {
    ...mapActions({
      fetchEmployees: 'employee/fetchAll',
    }),

    fetchReport(url) {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            resolve(res.data);
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.get(url, successCallback, errorCallback);
      });
    },

    async renderReport(e) {
      e.preventDefault();

      if (this.form.selectedReportCategory === null) return;

      let url = 'reports';

      switch (this.form.selectedReportCategory.id) {
        case 'scan_log':
          url = `${url}/scan-log/${this.form.selectedEmployee.id}?start=${this.form.start}&end=${this.form.end}&format=json`;
          break;
        case 'allowance':
          url = `${url}/allowance?start=${this.form.start}&end=${this.form.end}&format=json`;
          break;
        case 'meal_allowance':
          url = `${url}/meal-allowance?start=${this.form.start}&end=${this.form.end}&format=json`;
          break;
        default:
          break;
      }

      this.loading = true;
      this.reportData = await this.fetchReport(url);
      this.loading = false;
    },

    exportPdf() {
      let url = 'reports';

      switch (this.form.selectedReportCategory.id) {
        case 'scan_log':
          url = `${url}/scan-log/${this.form.selectedEmployee.id}?start=${this.form.start}&end=${this.form.end}`;
          break;
        case 'allowance':
          url = `${url}/allowance?start=${this.form.start}&end=${this.form.end}`;
          break;
        case 'meal_allowance':
          url = `${url}/meal-allowance?start=${this.form.start}&end=${this.form.end}`;
          break;
        default:
          break;
      }

      this.loading = true;
      this.fetchReport(url)
        .then((data) => {
          const path = `${this.$electron.remote.app.getPath('downloads')}/${data.file_name}`;

          fs.writeFile(path, data.content, { encoding: 'base64' }, (err) => {
            if (!err) {
              this.loading = false;
              this.exportMessage = `Berkas disimpan di ${path}`;
              this.exportSuccess = true;
            }
          });
        });
    },

    dataFetchHandler() {
      this.loading = true;
      this.fetchEmployees()
        .then(() => {
          this.loading = false;
        });
    },
  },

  mounted() {
    this.dataFetchHandler();
  },
};
</script>
