<template>
  <v-data-table
    :headers="tableHeaders"
    :items="value"
  >
    <template
      slot="items"
      slot-scope="props"
    >
      <td v-html="props.item.day" />
      <td v-html="props.item.date" />
      <td
        class="text-xs-center"
        v-html="props.item.checkin" />
      <td
        class="text-xs-center"
        v-html="props.item.checkout" />
      <td
        class="text-xs-center"
        v-html="props.item.late_by" />
      <td
        class="text-xs-center"
        v-html="props.item.worked" />
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    tableHeaders: [
      { text: 'Hari', value: 'day', align: 'left', sortable: false },
      { text: 'Tanggal', value: 'date', align: 'left', sortable: true },
      { text: 'Masuk', value: 'checkin', align: 'center', sortable: true },
      { text: 'Keluar', value: 'checkout', align: 'center', sortable: true },
      { text: 'Terlambat', value: 'late_by', align: 'center', sortable: true },
      { text: 'Bekerja', value: 'worked', align: 'center', sortable: false },
    ],
  }),
};
</script>
