<template>
  <v-layout
    row
    wrap
  >
    <v-progress-linear
      v-if="loading"
      :indeterminate="loading" />
    <v-flex
      md8
      offset-md2
    >
      <user-form
        v-if="!loading"
        v-model="user"
        :roles="roles"
        :on-submit="submitHandler" />
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import http from '../../services/http';
import UserForm from './UserForm';

export default {
  components: {
    UserForm,
  },

  data: () => ({
    loading: true,
    roles: [],
    user: {
      email: '',
      name: '',
      role_id: 1,
      password: '',
      password_conf: '',
    },
  }),

  methods: {
    ...mapActions({
      storeUser: 'user/store',
    }),

    fetchRoles() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            this.roles = [...res.data];
            resolve();
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.get('roles', successCallback, errorCallback);
      });
    },

    submitHandler() {
      this.storeUser(this.user)
        .then(() => {
          this.$router.push({ name: 'users.index' });
        });
    },
  },

  mounted() {
    this.loading = true;
    this.fetchRoles()
      .then(() => {
        this.loading = false;
      });
  },
};
</script>
