<template>
  <v-layout
    row
    wrap
  >
    <v-progress-linear
      v-if="loading"
      :indeterminate="loading" />
    <v-flex
      md8
      offset-md2
    >
      <user-form
        v-if="!loading"
        :edit="true"
        v-model="user"
        :roles="roles"
        :on-submit="submitHandler" />
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import http from '../../services/http';
import UserForm from './UserForm';

export default {
  components: {
    UserForm,
  },

  data: () => ({
    loading: true,
    roles: [],
    user: {
      id: null,
      email: '',
      name: '',
      role_id: 1,
      password: '',
      password_conf: '',
    },
  }),

  methods: {
    ...mapActions({
      fetchUser: 'user/fetch',
      updateUser: 'user/update',
    }),

    fetchRoles() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          if (res.status === 200) {
            this.roles = [...res.data];
            resolve();
          }
        };

        const errorCallback = (err) => {
          const errData = Object.assign({}, err.response);
          reject(errData);
        };

        http.get('roles', successCallback, errorCallback);
      });
    },

    fetchUserHandler() {
      this.loading = true;
      return new Promise((resolve, reject) => {
        this.fetchUser(this.$route.params.id)
          .then((user) => {
            this.user = {
              id: user.id,
              email: user.email,
              name: user.name,
              role_id: user.role.id,
              password: '',
              password_conf: '',
            };
            resolve();
          })
          .catch((err) => {
            reject(err);
          });
      });
    },

    submitHandler() {
      let payload;

      if (this.user.password !== '') {
        payload = this.user;
      } else {
        payload = {
          id: this.user.id,
          email: this.user.email,
          name: this.user.name,
          role_id: this.user.role_id,
        };
      }

      this.updateUser(payload)
        .then(() => {
          this.$router.push({ name: 'users.index' });
        });
    },
  },

  mounted() {
    this.loading = true;
    this.fetchRoles()
      .then(() => {
        this.fetchUserHandler()
          .then(() => {
            this.loading = false;
          });
      });
  },
};
</script>
