<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Pengguna</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading" />
      <v-card
        v-if="!loading"
      >
        <v-card-title>
          <v-btn
            @click="$router.push({ name: 'users.create' })"
            small
            color="primary"
          >
            Tambah Pengguna
          </v-btn>
          <v-spacer />
          <v-text-field
            append-icon="search"
            label="Pencarian"
            single-line
            hide-details
            v-model="query" />
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="users"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.email" />
            <td v-html="props.item.name" />
            <td v-html="props.item.role.name" />
            <td class="text-xs-right">
              <v-btn
                @click="$router.push({ name: 'users.edit', params: { id: props.item.id } })"
                small
                color="primary"
              >
                Edit
              </v-btn>
              <v-btn
                @click="deleteUserHandler(props.item.id)"
                small
                color="red"
                class="white--text"
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data: () => ({
    query: '',
    loading: true,
    tableHeaders: [
      { text: 'Email', align: 'left', value: 'email' },
      { text: 'Nama', align: 'left', value: 'name' },
      { text: 'Level Akses', align: 'left', value: 'role.name' },
      { text: 'Tindakan', align: 'right', value: null, sortable: false },
    ],
  }),

  computed: {
    ...mapState({
      users: state => state.user.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchUsers: 'user/fetchAll',
      deleteUser: 'user/destroy',
    }),

    fetchUsersHandler() {
      this.loading = true;
      this.fetchUsers()
        .then(() => {
          this.loading = false;
        });
    },

    deleteUserHandler(id) {
      this.deleteUser(id)
        .then(() => {
          this.fetchUsersHandler();
        });
    },
  },

  mounted() {
    this.fetchUsersHandler();
  },
};
</script>

