<template>
  <v-card>
    <v-card-title
      class="green darken-1 white--text headline"
    >
      {{ edit ? `Edit Pengguna: ${form.name}` : 'Tambah Pengguna' }}
    </v-card-title>
    <v-card-text>
      <form
        @submit="submitHandler"
        role="form"
      >
        <v-text-field
          label="Email"
          v-model="form.email"
          :error-messages="emailErrors"
          @input="$v.form.email.$touch"
          @blur="$v.form.email.$touch" />
        <v-text-field
          label="Nama"
          v-model="form.name"
          :error-messages="nameErrors"
          @input="$v.form.name.$touch"
          @blur="$v.form.name.$touch" />
        <v-select
          label="Level Akses"
          v-model="form.role_id"
          :items="roles"
          item-text="name"
          item-value="id" />
        <v-text-field
          type="password"
          label="Kata Sandi"
          v-model="form.password"
          :error-messages="passwordErrors"
          @input="$v.form.password.$touch"
          @blur="$v.form.password.$touch" />
        <v-text-field
          type="password"
          label="Konfirmasi Kata Sandi"
          v-model="form.password_conf"
          :error-messages="passwordConfErrors"
          @input="$v.form.password_conf.$touch"
          @blur="$v.form.password_conf.$touch" />
        <v-btn
          :disabled="$v.$invalid"
          type="submit"
          color="primary"
        >
          Simpan
        </v-btn>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
import validator from '../../validators/user';

export default {
  props: {
    value: {
      type: Object,
      required: true,
    },
    roles: {
      type: Array,
      required: true,
    },
    edit: {
      type: Boolean,
      default: false,
    },
    onSubmit: {
      type: Function,
      required: true,
    },
  },

  data: () => ({
    form: {
      id: null,
      email: '',
      name: '',
      role_id: null,
      password: '',
      password_conf: '',
    },
  }),

  computed: {
    emailErrors() {
      const errors = [];

      if (!this.$v.form.email.$dirty) return errors;
      if (!this.$v.form.email.required) errors.push('Email tidak boleh kosong');

      return errors;
    },

    nameErrors() {
      const errors = [];

      if (!this.$v.form.name.$dirty) return errors;
      if (!this.$v.form.name.required) errors.push('Nama tidak boleh kosong');

      return errors;
    },

    passwordErrors() {
      const errors = [];

      if (!this.$v.form.password.$dirty) return errors;
      if (!this.$v.form.password.required) errors.push('Kata sandi tidak boleh kosong');

      return errors;
    },

    passwordConfErrors() {
      const errors = [];

      if (!this.$v.form.password_conf.$dirty) return errors;
      if (!this.$v.form.password_conf.required) errors.push('Konfirmasi kata sandi kembali');
      if (!this.$v.form.password_conf.sameAsPassword) errors.push('Kata sandi tidak cocok');

      return errors;
    },
  },

  watch: {
    form(val) {
      this.$emit('input', val);
    },
  },

  validations: { form: validator },

  methods: {
    submitHandler(e) {
      e.preventDefault();

      if (!this.$v.$invalid) this.onSubmit(e);
    },

    mapValueToForm(value) {
      this.form = {
        id: value.id,
        email: value.email,
        name: value.name,
        role_id: value.role_id,
        password: value.password,
        password_conf: value.password_conf,
      };
    },
  },

  mounted() {
    this.mapValueToForm(this.value);
  },
};
</script>
