<template>
  <v-layout
    row
    wrap
    align-content-start
  >
    <v-flex
      md12
      mb-4
    >
      <stats-board />
    </v-flex>
    <v-flex
      md12
    >
      <scan-log-board />
    </v-flex>
  </v-layout>
</template>

<script>
import StatsBoard from './StatsBoard';
import ScanLogBoard from './ScanLogBoard';

export default {
  components: {
    StatsBoard,
    ScanLogBoard,
  },
};
</script>
