<template>
  <v-card>
    <v-card-title primary-title>
      <div class="headline">Log Presensi</div>
    </v-card-title>
    <v-card-text>
      <v-layout
        row
        wrap
      >
        <v-flex
          sm12
        >
          <v-progress-linear
            v-if="loading"
            :indeterminate="loading" />
          <v-alert
            v-for="error in errors"
            :key="error"
            color="error"
            icon="warning"
            value="true"
          >
            {{ error }}
          </v-alert>
        </v-flex>
        <v-flex
          sm6
          pr-2
        >
          <v-menu
            :disabled="loading"
            max-width="290px"
            max-height="290px"
            lazy
            full-width
          >
            <v-text-field
              slot="activator"
              label="Tanggal"
              v-model="form.date"
              readonly />
            <v-date-picker
              v-model="form.date"
              no-title />
          </v-menu>
        </v-flex>
        <v-flex
          sm5
          pl-2
        >
          <v-btn
            :disabled="$v.$invalid || loading"
            @click="fetchScanLogsHandler"
            color="primary"
          >
            Tampilkan
          </v-btn>
          <v-btn
            :disabled="$v.$invalid || loading"
            @click="generateScanLogsHandler"
            color="primary"
          >
            Buat
          </v-btn>
          <v-btn
            :disabled="$v.$invalid || loading"
            @click="mergeScanLogsHandler"
            color="primary"
          >
            Proses
          </v-btn>
        </v-flex>
        <v-flex
          sm12
        >
          <v-data-table
            :headers="tableHeaders"
            :items="scanLogs"
          >
            <template
              slot="items"
              slot-scope="props"
            >
              <td v-html="props.item.employee.id" />
              <td v-html="props.item.employee.name" />
              <td v-html="props.item.checkin" />
              <td v-html="props.item.checkout" />
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import http from '../../services/http';

export default {
  data: () => ({
    loading: false,
    tableHeaders: [
      { text: 'NIP', value: 'id', align: 'left' },
      { text: 'Nama', value: 'name', align: 'left' },
      { text: 'Datang', value: 'checkin', align: 'left' },
      { text: 'Pulang', value: 'checkout', align: 'left' },
    ],
    enableForm: true,
    form: {
      date: null,
    },
    scanLogs: [],
    errors: [],
  }),

  validations: {
    form: {
      date: { required },
    },
  },

  methods: {
    resetFormDate() {
      this.form.date = null;
    },

    fetchScanLogsHandler() {
      this.loading = true;

      const successCallback = (res) => {
        if (res.status === 200) {
          this.scanLogs = res.data;
          this.loading = false;
        }
      };

      const url = `scan-logs?date=${this.form.date}`;

      http.get(url, successCallback);
    },

    generateScanLogsHandler() {
      this.errors = [];
      this.loading = true;

      const successCallback = (res) => {
        if (res.status === 200) {
          this.loading = false;
        }
      };

      const errorCallback = () => {
        this.errors.push('Pembuatan scan log gagal. Cek koneksi ke API kembali');
        this.loading = false;
      };

      const payload = { start: this.form.date };

      http.post('scan-logs/generate', payload, successCallback, errorCallback);
    },

    mergeScanLogsHandler() {
      this.errors = [];
      this.loading = true;

      const successCallback = (res) => {
        if (res.status === 200) {
          this.loading = false;
        }
      };

      const errorCallback = () => {
        this.errors.push('Pemrosesan scan log gagal. Cek koneksi ke API & mesin kembali');
        this.loading = false;
      };

      const payload = { start: this.form.date };

      http.post('scan-logs/merge', payload, successCallback, errorCallback);
    },
  },
};
</script>
