<template>
  <v-card>
    <v-card-title
      primary-title
    >
      <div class="headline">Statistik</div>
    </v-card-title>
    <v-card-text>
      <v-layout
        row
        wrap
      >
        <v-flex
          md6
          pr-2
        >
          <allowances-stats title="Pesebaran Tunjangan Pegawai" />
        </v-flex>
        <v-flex
          md6
          pl-2
        >
          <ranks-stats title="Pesebaran Golongan Pegawai" />
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
import AllowancesStats from './Stats/AllowancesStats';
import RanksStats from './Stats/RanksStats';

export default {
  components: {
    AllowancesStats,
    RanksStats,
  },
};
</script>
