<template>
  <div id="app">
    <v-app
      class="grey lighten-2"
    >
      <the-nav
        :display="!isLoginPage"
        :active="drawer" />
      <the-toolbar
        :display="!isLoginPage"
        v-model="drawer" />
      <main>
        <v-content>
          <v-container
            fluid
            fill-height
          >
            <router-view />
          </v-container>
        </v-content>
      </main>
    </v-app>
  </div>
</template>

<script>
import TheNav from './components/TheNav';
import TheToolbar from './components/TheToolbar';

export default {
  name: 'SynchromeDesktop',

  components: {
    TheNav,
    TheToolbar,
  },

  data: () => ({
    fixed: true,
    drawer: true,
    title: 'Synchrome',
  }),

  computed: {
    isLoginPage() {
      return this.$route.name === 'login';
    },
  },
};
</script>

<style lang="stylus">
@import './assets/stylus/main.styl'
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import "./assets/global.css";
</style>
